<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Event</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<p th:text="${message}" class="message-banner"/>
<div class="header">
<h1>Event Center</h1>
</div>
<div class="user-info">
<span th:if="${not cookieUser.username.equals('Guest')}"><p>Welcome, <a href="/userProfile"><span th:text="${cookieUser.username}" style="color:blue;">Guest</span></a></p></span>
<span th:if="${cookieUser.username.equals('Guest')}"><p>Welcome, Guest</p></span>
	<span th:if="${cookieUser.username.equals('Guest')}"><a href="/login" class="user-button">Login</a> | <a href="/register" class="user-button">Register</a></span>
	<span th:if="${not cookieUser.username.equals('Guest')}"><a href="/logout" class="user-button">Log out</a></span>
</div>
<br>
<div class="menu">
<ul>
	<li><a href="/index">Home</a></li>
	<li><a href="/about">About Us</a></li>
	<li><a href="/viewAll">View Events</a></li>
	<span th:if="${cookieUser.isAdmin}"><li><a href="/admin-home">Admin Access</a></li></span>
</ul>
</div>
<div class="content">
	<form th:object="${newEvent}" th:action="@{/update/{id}(id=${newEvent.id})}" method=POST>
	NAME: <input name="name" size="20" th:field="*{eventName}"><br />
	MAX ATTENDENCE: <input name="maxattendence" size="20" th:field="*{maxAttendence}"><br />
	DESCRIPTION: <input name="description" size="20" th:field="*{description}"><br />
	SPONSORS: <input name="sponsors" size="20" th:field="*{sponsors}"><br />
	DATE: <input type="date" name="date" size="20" th:field="*{date}"><br />
	PRICE PER TICKET: <input name="priceperticket" size="20" th:field="*{pricePerTicket}"><br />
	START TIME: <input type="time" name="starttime" size="20" th:field="*{startTime}"><br />
	DOORS OPEN TIME: <input type="time" name="doorsopentime" size="20" th:field="*{doorsOpenTime}"><br />
	TYPE: <input name="type" size="20" th:field="*{type}"><br />
	COST TO SPONSOR: <input name="costtosponsor" size="20" th:field="*{costToSponsor}"><br />
	<input name="submit" type="submit" value="submit"/>
	</form>
</div>
<div class="footer">
<p>© 2022 Event Center</p>
</div>
</body>
</html>