<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Event</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<form th:object="${newEvent}" th:action="@{/update/{id}(id=${newEvent.id})}" method=POST>
	NAME: <input name="name" size="20" th:field="*{eventName}"><br />
	MAX ATTENDENCE: <input name="maxattendence" size="20" th:field="*{maxAttendence}"><br />
	DESCRIPTION: <input name="description" size="20" th:field="*{description}"><br />
	SPONSORS: <input name="sponsors" size="20" th:field="*{sponsors}"><br />
	DATE: <input type="date" name="date" size="20" th:field="*{date}"><br />
	PRICE PER TICKET: <input name="priceperticket" size="20" th:field="*{pricePerTicket}"><br />
	START TIME: <input type="time" name="starttime" size="20" th:field="*{startTime}"><br />
	DOORS OPEN TIME: <input type="time" name="doorsopentime" size="20" th:field="*{doorsOpenTime}"><br />
	TYPE: <input name="type" size="20" th:field="*{type}"><br />
	COST TO SPONSOR: <input name="costtosponsor" size="20" th:field="*{costToSponsor}"><br />
	<input name="submit" type="submit" value="submit"/>
	</form>
	<a href="/viewAll">Back to events</a>

</body>
</html>