<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Events</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<select name="filter" id="filter" onchange="location = '/viewAll/' + this.value;">
	<option disabled selected></option>
	<option>All Events</option>
    <option th:each="currentType : ${types}" th:value="${currentType}" th:text="${currentType}">
    </option>
</select>
<br>
<table>
<tr th:each="currentEvent : ${events}" >
<td class="eventEntry">
<h2 class="eventName">
<a th:text="${currentEvent.eventName}" th:href="@{/viewEvent/{id}(id=${currentEvent.id})}"></a>
</h2><br>
<div class="description">
<span th:text="${currentEvent.description}"></span>
</div>
<br>
<div class="details">
<span th:text="${currentEvent.date}"></span> at 
<span th:text="${currentEvent.startTime}"></span><br>
Tickets start at: $<span th:text="${currentEvent.pricePerTicket}"></span>
</div>
</td>
</tr>
</table>

</body>
</html>