<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Event Attendee Info</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<p th:text="${message}" class="message-banner"/>
<div class="header">
<h1>Event Center</h1>
</div>
<div class="user-info">
<span th:if="${not cookieUser.username.equals('Guest')}"><p>Welcome, <a href="/userProfile"><span th:text="${cookieUser.username}" style="color:blue;">Guest</span></a></p></span>
<span th:if="${cookieUser.username.equals('Guest')}"><p>Welcome, Guest</p></span>
	<span th:if="${cookieUser.username.equals('Guest')}"><a href="/login" class="user-button">Login</a> | <a href="/register" class="user-button">Register</a></span>
	<span th:if="${not cookieUser.username.equals('Guest')}"><a href="/logout" class="user-button">Log out</a></span>
</div>
<br>
<div class="menu">
<ul>
	<li><a href="/index">Home</a></li>
	<li><a href="/about">About Us</a></li>
	<li><a href="/viewAll">View Events</a></li>
	<span th:if="${cookieUser.isAdmin}"><li><a href="/admin-home">Admin Access</a></li></span>
</ul>
</div>
<div class="content">
	<form th:object="${updateEvent}" th:action="@{/updateEventAttendeeInfo/{id}(id=${updateEvent.id})}" method=POST>
	Attendee info:<br> <textarea name="attendeeinfo" rows="10" cols="30" th:field="*{attendeeInfo}"></textarea><br>
	<input name="submit" type="submit" value="Submit"/>
	</form>
</div>
<div class="footer">
<p>© 2022 Event Center</p>
</div>
</body>
</html>