<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${eventDetails.eventName}">Event Details</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<p th:text="${message}" class="message-banner"/>
<div class="user-info">
<span th:if="${not cookieUser.username.equals('Guest')}"><p>Welcome, <a href="/userProfile"><span th:text="${cookieUser.username}" style="color:blue;">Guest</span></a></p></span>
<span th:if="${cookieUser.username.equals('Guest')}"><p>Welcome, Guest</p></span>
	<span th:if="${cookieUser.username.equals('Guest')}"><a href="/login" class="user-button">Login</a> | <a href="/register" class="user-button">Register</a></span>
	<span th:if="${not cookieUser.username.equals('Guest')}"><a href="/logout" class="user-button">Log out</a></span>
</div>
<br>
<div class="menu">
<ul>
	<li><a href="/index">Home</a></li>
	<li><a href="/about">About Us</a></li>
	<li><a href="/viewAll">View Events</a></li>
	<span th:if="${cookieUser.isAdmin}"><li><a href="/admin-home">Admin Access</a></li></span>
</ul>
</div>
<div class="content">
<h1 th:text="*{eventDetails.eventName}"> </h1>

<div class="description">
<span th:text="${eventDetails.description}"></span>
</div>
<br>
<div class="details">
<span th:text="${#dates.format(eventDetails.date, 'LLLL dd, yyyy')}"></span> at 
<span th:text="${#dates.format(eventDetails.startTime, 'hh:mm aa')}"></span><br>
Tickets start at: $<span th:text="${eventDetails.pricePerTicket}"></span><br>
Event capacity: <span th:text="${eventDetails.maxAttendence}"></span><br>
Doors open at: <span th:text="${#dates.format(eventDetails.doorsOpenTime, 'hh:mm aa')}"></span>
</div><br>
<div class="sponsors">
<h3>Sponsored by: </h3> <br>
<p th:text="${eventDetails.sponsors}"></p>
</div>
<h3>Cost to Sponsor</h3>
	<p th:text="${eventDetails.costToSponsor}"></p>
<span th:if="${not (eventDetails.attendeeInfo == null)}"><div class="attendee-info">
<span th:if="${cookieUser.attendingEvents.contains(eventDetails.id)}">
<h3>Information for attendees:</h3>
	<p th:text="${eventDetails.attendeeInfo}"></p>
</span>
</div></span>
<span th:if="${not cookieUser.username.equals('Guest')}"><div class="registration">
<span th:if="${not cookieUser.attendingEvents.contains(eventDetails.id)}">
<a th:href="@{/registerEvent/{id} (id=${eventDetails.id})}">Register for event</a><br>
</span>
<span th:if="${cookieUser.attendingEvents.contains(eventDetails.id)}">
<a th:href="@{/unregisterEvent/{id} (id=${eventDetails.id})}">Cancel registration</a><br>
</span>
</div></span>
<ul>
<span th:if="${cookieUser.canEditEvents}"><li><a th:href="@{/editEventAttendeeInfo/{id} (id=${eventDetails.id})}">Add information for attendees</a></li></span>
</ul>
</div>
</body>
</html>