<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Event Management</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<p th:text="${message}" class="message-banner"/>
<div class="user-info">
<p>Welcome, <span th:text="${cookieUser.username}">Guest</span></p>
<ul>
<span th:if="${cookieUser.username.equals('Guest')}"><li><a href="/login">Login</a></li> | <li><a href="/register">Register</a></li></span>
<span th:if="${not cookieUser.username.equals('Guest')}"><li><a href="/logout">Log out</a></li></span>
</ul>
</div>
<br>
<div class="menu">
<ul>
<span th:if="${cookieUser.isAdmin}"><li><a href="/admin-home">Admin Access</a></li></span>
<span><li><a href="/viewAll">View All Events</a></li></span>
<span><li><a href="/inputEvent">Add Event</a></li></span>
</ul>
</div>

</body>
</html>