<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register Account</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<form th:object="${newUser}" th:action="@{/register}" method=POST>
Username: <input name="username" size="20"> <br />
Password: <input type="password" name="password" size="20"><br />
<p th:text="${error}" style="color:red"/>
<input name="submit" type="submit" value="Register" />
</form>
<a href="/index">Back to home</a>
</body>
</html>