@charset "UTF-8";
@charset "ISO-8859-1";

	body {
		background-color: lightblue;
		max-width: 80%;
		margin: auto;
	}

	.form-center {
		display: flex;
		justify-content: center;
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}
	
	li {
		float: left;
		border-right: 1px solid #bbb;
	}
	
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	li a:hover {
		background-color: #111;
	}
	
	.active {
		background-color: #04AA6D;
	}
	
	div {
		border-bottom: 5px solid black;
	}
	
	form {
		padding-bottom: 20px;
	}
	
	.message-banner	{
		margin-top:0px;
		background-color: #5F9EA0;
		color: white;
		border: 2px #bbbbbb;
		text-align: center;
	}
	
	.user-info {
		border: solid black 1px;
		display: flex;
    	flex-direction: column;
    	width: fit-content;
    	padding: 0px 10px 15px 10px;
    	background-color: #eeeeee;
	}
	
	
	.user-button {
		border: solid black 2px;
		padding: 10px;
		border-radius: 25px;
		background-image: linear-gradient(#dddddd, #aaaaaa);
		text-decoration: none;
		color: black;
	}
	
	.footer {
		text-align: center;
	}
	
	.content {
		border: solid black 2px;
		background-color: white;
		padding: 15px;
	}

	